redirectsOrigin = "config"
plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "/Users/cffsmacmini/Documents/pitchmarketingagency.code-workspace/GOdrive.academy/public"
publishOrigin = "config"
commandOrigin = "config"
command = "echo 'No build step needed - static site'"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]